<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Ejemplo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <applicationSettings>
        <Ejemplo.Properties.Settings>
            <setting name="RutaVLC" serializeAs="String">
                <value>C:\Program Files (x86)\VideoLAN\VLC</value>
            </setting>
            <setting name="RutaPeliculas" serializeAs="String">
                <value>C:\Peliculas\</value>
            </setting>
            <setting name="RutaAnuncios" serializeAs="String">
                <value>C:\Users\Administrador Local\Videos\Uneme</value>
            </setting>
        </Ejemplo.Properties.Settings>
    </applicationSettings>
</configuration>
